{% extends "base.html" %}
{% block content %}
    {% load navtag %}

    <div class="container-fluid">
        <div class="row">
            <div class="  col-md-7">
                <div class="form-group">

                    {% for child in request|fetchChilds %}

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ child }}
                            </div>

                            <table class="table">
                                <tr>
                                    <td> Lekcja</td>
                                    <td> Oceny</td>
                                </tr>
                                {% with gradeMap=child|fetchGrades %}
                                    {% for lesson, grades in gradeMap.items %}
                                        <tr>
                                            <td class="lessonCell"> {{ lesson }} </td>
                                            <td class="gradesCell">
                                            {% for g in grades %}
                                                <span title="{{ g.forWhat }}"> {{ g.grade }}{{ g.modifier }} </span>
                                            {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endwith %}
                            </table>

                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



{% endblock %}