{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load navtag %}
<link href="{% static 'genericNavbar.css' %}" rel="stylesheet" media="screen" type="text/css">

<div class="pageTop container-fluid">
	<div class="row">
		<div class="col-md-3">
			<h1> Dziennik Szkolny </h1>
		</div>

		<div class="col-md-3 pull-right welcomePlace">
			<p class="inline">
				Witaj, 
				{% comment %}
				// get the motherfucking username
				{% endcomment %}
			</p>
			<form class="form-inline inline" action="/logout" method="post">
				{% csrf_token %}
				<button type="submit" class="btn btn-default">
					Wyloguj
				</button>
			</form>
		</div>

	</div>
</div>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
			aria-expanded="false">
				<span class="sr-only">Toggle navigation</span><span
				class="icon-bar"></span><span class="icon-bar"></span><span
				class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="">Główna</a>
		</div>

		<div class="collapse navbar-collapse"
		id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<!-- {% if not Util.isAdmin %} -->
				<li>
					<a href="">Oceny</a>
				<li>
					<a href="">Frekwencja</a>
				</li>
				<li>
					<a href="">Plan zajęć</a>
				</li>
				<li>
					<a href="">Uwagi</a>
				</li>
				
				{% if request|isTeacher %}
				
				<li>
					<a href="">Napisz wiadomość do rodzica</a>
				</li>
				{% endif %}
				<!-- {% else %} -->
				<li>
					<a href="admin"> Admin </a>
				</li>
				<!-- {% endif %} -->
				
			</ul>
		</div>
	</div>
</nav>

{% endblock %}