{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8 paddingTop paddingLeft">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Lorem ipsum shizzle whizzle
					<br/>
					<small> 19-02-12 12:15:21</small></h3>
				</div>

				<div class="panel-body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor neque mauris, et ullamcorper nisi feugiat et. Aliquam vel turpis eget lacus pulvinar scelerisque. In pellentesque mi et quam cursus, eu tempus tellus feugiat. Quisque venenatis tortor non metus consequat tincidunt. Nullam aliquam, augue at malesuada lacinia, turpis lacus mattis augue, a commodo nunc massa sit amet sem. Quisque volutpat leo id lorem auctor euismod. Sed gravida tortor turpis, a gravida leo dictum eu. Fusce semper venenatis ex eget finibus. Cras sed tristique turpis. Vivamus at sollicitudin justo.
					</p>
					<p>
						Etiam mi lectus, rhoncus sodales mi sit amet, feugiat luctus orci. Integer ut rhoncus mauris. Phasellus mattis ut mi id cursus. Nulla porttitor quis risus non posuere. Ut et lobortis massa. Aenean id turpis non orci efficitur lacinia sed nec dui. Vestibulum lacus libero, consectetur ut sem eu, lacinia vehicula urna. Quisque ultricies urna vitae nunc dignissim pellentesque.
					</p>
					<p>
						Donec lacus erat, vestibulum eget hendrerit eget, suscipit quis felis. Nulla interdum fringilla urna et mollis. Phasellus viverra dictum orci, et lobortis dolor lobortis sed. Nam et pretium erat. Aliquam vehicula feugiat lectus, sit amet viverra mi sollicitudin a. Sed semper pulvinar metus. Nunc scelerisque nisi a sodales luctus. Nulla malesuada ullamcorper mi a consequat. Cras ultricies ipsum non arcu cursus fringilla.
					</p>
					<p>
						Donec quis nibh mauris. Suspendisse venenatis enim eget metus rhoncus, id placerat est fermentum. Vivamus vestibulum leo urna. Phasellus mattis fringilla eros in porttitor. Mauris malesuada urna quis facilisis suscipit. Sed luctus, sapien nec feugiat tincidunt, erat odio vestibulum metus, vitae rutrum odio enim nec velit. Maecenas tempus elementum felis, nec congue dui porta vel. Suspendisse molestie elit volutpat tellus eleifend, sit amet finibus sem pulvinar. Nunc eu rhoncus diam. Nam mauris enim, efficitur porttitor egestas quis, rhoncus id mauris. Cras orci nulla, accumsan eget varius vitae, efficitur laoreet purus. Nunc egestas nec lorem at pellentesque. Donec pretium, turpis vitae bibendum accumsan, tortor nisi rhoncus ligula, a varius ligula nisi sit amet tellus. Praesent tincidunt sem nec ornare tincidunt. Phasellus vitae massa at elit viverra luctus.
					</p>
					<p>
						Nullam nec augue ut massa faucibus fermentum. Phasellus eget mauris in ante aliquam porta a non orci. Morbi molestie hendrerit dui at consequat. Curabitur tempor, ipsum quis pretium congue, mi purus mattis justo, vel rhoncus nisi orci a mauris. Suspendisse non nulla tortor. Quisque egestas dolor quis erat posuere lobortis. Sed cursus leo sit amet nisl luctus elementum.
					</p>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Lorem ipsum shizzle whizzle
					<br/>
					<small> 19-02-12 12:15:21</small></h3>
				</div>

				<div class="panel-body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor neque mauris, et ullamcorper nisi feugiat et. Aliquam vel turpis eget lacus pulvinar scelerisque. In pellentesque mi et quam cursus, eu tempus tellus feugiat. Quisque venenatis tortor non metus consequat tincidunt. Nullam aliquam, augue at malesuada lacinia, turpis lacus mattis augue, a commodo nunc massa sit amet sem. Quisque volutpat leo id lorem auctor euismod. Sed gravida tortor turpis, a gravida leo dictum eu. Fusce semper venenatis ex eget finibus. Cras sed tristique turpis. Vivamus at sollicitudin justo.
					</p>
					<p>
						Etiam mi lectus, rhoncus sodales mi sit amet, feugiat luctus orci. Integer ut rhoncus mauris. Phasellus mattis ut mi id cursus. Nulla porttitor quis risus non posuere. Ut et lobortis massa. Aenean id turpis non orci efficitur lacinia sed nec dui. Vestibulum lacus libero, consectetur ut sem eu, lacinia vehicula urna. Quisque ultricies urna vitae nunc dignissim pellentesque.
					</p>
					<p>
						Donec lacus erat, vestibulum eget hendrerit eget, suscipit quis felis. Nulla interdum fringilla urna et mollis. Phasellus viverra dictum orci, et lobortis dolor lobortis sed. Nam et pretium erat. Aliquam vehicula feugiat lectus, sit amet viverra mi sollicitudin a. Sed semper pulvinar metus. Nunc scelerisque nisi a sodales luctus. Nulla malesuada ullamcorper mi a consequat. Cras ultricies ipsum non arcu cursus fringilla.
					</p>
					<p>
						Donec quis nibh mauris. Suspendisse venenatis enim eget metus rhoncus, id placerat est fermentum. Vivamus vestibulum leo urna. Phasellus mattis fringilla eros in porttitor. Mauris malesuada urna quis facilisis suscipit. Sed luctus, sapien nec feugiat tincidunt, erat odio vestibulum metus, vitae rutrum odio enim nec velit. Maecenas tempus elementum felis, nec congue dui porta vel. Suspendisse molestie elit volutpat tellus eleifend, sit amet finibus sem pulvinar. Nunc eu rhoncus diam. Nam mauris enim, efficitur porttitor egestas quis, rhoncus id mauris. Cras orci nulla, accumsan eget varius vitae, efficitur laoreet purus. Nunc egestas nec lorem at pellentesque. Donec pretium, turpis vitae bibendum accumsan, tortor nisi rhoncus ligula, a varius ligula nisi sit amet tellus. Praesent tincidunt sem nec ornare tincidunt. Phasellus vitae massa at elit viverra luctus.
					</p>
					<p>
						Nullam nec augue ut massa faucibus fermentum. Phasellus eget mauris in ante aliquam porta a non orci. Morbi molestie hendrerit dui at consequat. Curabitur tempor, ipsum quis pretium congue, mi purus mattis justo, vel rhoncus nisi orci a mauris. Suspendisse non nulla tortor. Quisque egestas dolor quis erat posuere lobortis. Sed cursus leo sit amet nisl luctus elementum.
					</p>
				</div>
			</div>

		</div>
		<div class="col-md-4 paddingTop paddingRight">
			<div class="panel panel-default">
				<div class="panel-heading">
				<h1 style="text-align:center;"> Szybkie informacje: </h1>
				</div>
				<ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>					
			
			</div>
		</div>
	</div>

</div>

{% endblock %}