{% extends "base.html" %}
{% block content %}
    {% load navtag %}
    {% load staticfiles %}
    <div class="container">
        <div class="row">
            <div class=" col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Wyślij e-mail do rodzica</div>
                    <li class="list-group-item">
                        <select class="form-control classSelection">
                            {% for parent in request|fetchParents %}
                                <option value={{ parent }}> {{ parent }} </option>
                            {% endfor %}
                        </select>
                    </li>
                    <li class="list-group-item">
                        <textarea class="mailSubject" rows="1" placeholder="Temat wiadomości"></textarea>
                    </li>
                    <li class="list-group-item">
                        <textarea class="mailBody" rows="4" placeholder="Treść wiadomości" class="form-control"></textarea>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-default saveRemark">Wyślij wiadomość</button>
                        <div class="infoDiv topMargin10"></div>
                    </li>
                </div>
            </div>
        </div>
    </div>
{% endblock %}