{% extends "base.html" %}
{% block content %}
    {% load navtag %}
    {% load staticfiles %}

    <script src="{% static 'js/postAjaxUtility.js' %}"></script>
    <script src="{% static 'js/gradeAndRemarkAjax.js' %}"></script>
    <div class="container-fluid">
        <div class="row">

            <div class=" col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Ocena</div>
                    <ul class="list-group">
                        <li class="list-group-item">
                        <label for="classSelect">Wybierz klasę</label>
                            <select id="classSelect" class="form-control classSelection">

                                {% for cls in request|fetchClasses %}
                                    <option value={{ cls }}> {{ cls }} </option>
                                {% endfor %}

                            </select></li>

                        <li class="list-group-item">
                            <label for="studentSelect">Wybierz uczniów</label>
                            <select id="studentSelect" class="form-control peopleSelection" multiple>

                            </select></li>
                        <li class="list-group-item">
                             <label for="markSelect">Wybierz ocenę</label>

                            <select id="markSelect" class="form-control gradeSelection">
                            <option>1</option>
                            <option>1+</option>
                            <option>2-</option>
                            <option>2</option>
                            <option>2+</option>
                            <option>3-</option>
                            <option>3</option>
                            <option>3+</option>
                            <option>4-</option>
                            <option>4</option>
                            <option>4+</option>
                            <option>5-</option>
                            <option>5</option>
                            <option>5+</option>
                            <option>6-</option>
                            <option>6</option>
                        </select></li>
                        <li class="list-group-item">

                            <label for="forWhat">Uzasadnienie wyroku</label>
                            <textarea id="forWhat" class="forWhat" rows="4" placeholder="Wpisz tekst"
                                                              maxlength="100">

				</textarea></li>
                        <li class="list-group-item">
                            <button class="btn btn-default saveGrade">Zapisz ocenę</button>
                            <div class="infoDiv topMargin10">

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}