{% extends "base.html" %}
{% block content %}
    {% load navtag %}
    {% load staticfiles %}
    <!-- get all teacher classes
    then fetch students
    and show textarea -->
    <script src="{% static 'js/postAjaxUtility.js' %}"></script>
    <script src="{% static 'js/gradeAndRemarkAjax.js' %}"></script>
    <div class="container-fluid">
        <div class="row">

            <div class=" col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Uwaga</div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label for="classSelection">Wybierz klasę</label>
                            <select id="classSelect" class="form-control classSelection">

                                {% for cls in request|fetchClasses %}
                                    <option value={{ cls }}> {{ cls }} </option>
                                {% endfor %}

                            </select></li>

                        <li class="list-group-item">
                            <label for="studentSelect">Wybierz uczniów</label>
                            <select id="studentSelect" class="form-control peopleSelection" multiple>


                            </select></li>

                        <li class="list-group-item">
                             <label for="remarkText">Treść uwagi:</label>
                            <textarea id="remarkText" class="remarkText form-control" rows="4" placeholder="Wpisz tekst">

				</textarea></li>
                        <li class="list-group-item">
                            <button class="btn btn-default saveRemark">Zapisz uwagę</button>
                            <div class="infoDiv topMargin10">

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}