{% extends "base.html" %}
{% block content %}
{% load navtag %}
{% load staticfiles %}
<!-- get all teacher classes
then fetch students
and show textarea -->
<script src="{% static 'js/teacherRemarkjs.js' %}"></script>
<div class="container">
	<div class="row">

		<div class=" col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Uwaga</div>

				<li class="list-group-item"><select class="form-control classSelection">

					{% for cls in request|fetchClasses %}
					<option value={{ cls }} > {{ cls }} </option>
					{% endfor %}

				</select></li>
			
				<li class="list-group-item"><select class="form-control peopleSelection" multiple>

				</select></li>
				
				<li class="list-group-item"><textarea class="remarkText" rows="4" placeholder="Wpisz uwagę">

				</textarea></li>
				<li class="list-group-item"><button class="btn btn-default saveRemark">Zapisz uwagę</button>
                <div class="infoDiv topMargin10">

				</div></li>
			</div>
		</div>
	</div>
</div>

{% endblock %}