{% extends "base.html" %}
{% block content %}
    {% load navtag %}
    {% load staticfiles %}

    <script src="{% static 'js/postAjaxUtility.js' %}"></script>
    <script src="{% static 'js/timeTable.js' %}"></script>

    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-8">

                {% with timeTable=request|fetchLessons %}
                    {% for key, val in timeTable.items %}

                        <div class="panel panel-default">
                        <div class="panel-heading">  {{ key }} </div>

                        {{ val|generateTable }}

                        <ul class="list-group">
                            <li class="list-group-item"><button class="btn btn-default savePDF">Zapisz</button></li>
                        </ul>



                        </div>
                    {% endfor %}
                {% endwith %}


                </div>
            </div>
        </div>

{% endblock %}